/* //classes a nivel global */

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.rotasSidebar {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* .paginacao {
  flex-grow: 1;
  min-height: 100vh;
} */

.cardsDaHome {
  padding: 2em;
  display: flex;
}
