.cardHome {
  display: flex;
  width: 400px;
  flex-direction: column;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-content: center;
}

.headerCardHome {
  display: flex;
  background-color: #374952;
  border-radius: 16px 16px 0px 0px;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: 600;
  color: #ffffff;
  flex-grow: 0;
  justify-content: center;
}

.headerCardHome img {
  margin-right: 8px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 16px 16px 0px 0px;
  font-weight: 600;
  justify-content: center;
  flex-grow: 0;
  padding: 20px;
}

.greenRectangle,
.blueRectangle,
.redRectangle {
  width: 266px;
  height: 80px;
  border-style: solid;
  border-width: 5px;
  border-radius: 8px;
  margin-top: 16px;
}

.greenRectangle {
  border: 2px solid #4ec06e;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #4ec06e;
}

.blueRectangle {
  border: 2px solid #5197b5;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #5197b5;
}

.redRectangle {
  border: 2px solid #ff4d4d;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ff4d4d;
}
