header {
  /* //do not touch me */
  height: 228px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: flex-start;
}

.loginProfile {
  margin-right: 20px;
}

.principal {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 20px;
  height: 100%;
  flex-wrap: wrap;
}

.clientCard {
  margin-right: 40px;
}

.cardHome{
	margin-top:88px;
}