header {
  /* //do not touch me */
  background-color: #ffffff;
  height: 228px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  align-items: flex-start;
}

.loginProfile {
  margin-right: 20px;
}

.cardsDaHome {
  justify-content: space-between;
}

.principal {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100%;
  flex-wrap: wrap;
}

.clientCard {
  margin-right: 40px;
}